MPGS_IMAGE=mpgs-server:local
MPGS_SERVER_BIND=0.0.0.0:4310
MPGS_SERVICE_INSTANCE_ID=018fb770-8998-7699-a6e4-b7b59f2f9c01
MPGS_SERVICE_NAME=MPGS Public Discovery Service
MPGS_SERVICE_VERSION=0.1.0

POSTGRES_DB=mpgs
POSTGRES_USER=mpgs
POSTGRES_PASSWORD=change-this-postgres-password

CADDY_DOMAIN=mpgs.example.com
